/* This is CSS */

#header1 {
    color: green;
    text-align: center;
    background-color: rgba(66, 8, 8, 0.555);
}
.s1 {
    background-color: brown;
    padding: 70px;
    text-align: center;
    font-size: 25px;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
    text-align: center;
    margin-top: 20px;
}

.nav1 {
    margin-inline: 20px;
    color: green;
}
.nav2 {
    margin-inline: 20px;
    color: green;
}
.nav3 {
    margin-inline: 20px;
    color: green;
}
.nav4 {
    margin-inline: 20px;
    color: green;
}
.p1 {
    color: brown;
   margin-left: 30px;

}
#page-footer{
    text-align: center;
}

#body {
    background-color: rgba(139, 107, 17, 0.596);
}